@media (max-width: 1024px) {
    .urna {
        flex-direction:row;
        width: 90%;
        height: 350px;
    }

    .tela {
        align-self:flex-start;
        width: 50%;
        height: 316px;
    }

    .teclado {
        align-self: baseline;
        margin-left: 6px;
        width: 40%;
        height: 320px;
    }

}

@media (max-width: 650px) {
    .urna {
        flex-direction:column;
        width: 100%;
        padding: 10px;
        height: 600px;
    }

    .tela {
        align-self: center;
        width: 90%;
        height: 320px;
    }

    .teclado {
        align-self: center;
        margin-top: 6px;
        margin-left: 0px;
        width: 90%;
        height: 260px;
    }

    .teclado--botao {
        width: 50px;
        height: 40px;
        font-size: 15px;
        margin: 5px;
    }

    .botao--branco {
        font-size: 9px;
    }
    
    .botao--corrige {
        font-size: 9px;
    }
    
    .botao--confirma {
        font-size: 9px;
        width: 60px;
        height: 45px;
    }

    .aviso--grande {
        font-size: 10px;
    }
    
    .aviso--gigante {
        font-size: 10px;
    }
}
